---
import { Gitlab } from "@lucide/astro";
import FlowbiteInit from "../layout/FlowbiteInit.astro";



import { IconMail, IconMapPinFilled, IconWorldFilled, IconBrandGithubFilled, IconBrandLinkedinFilled } from '@tabler/icons-react';
---

<footer class="bg-[#1A1A1A] w-full pt-16 pb-8" id="footer">
   <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-12 mb-12">

        <div>
             <p class=" text-2xl font-bold font-secondary italic  mb-4 block text-green-500">Ing. <span class="font-sans text-white not-italic">Diana Mayorga</span></p>
             <p class="text-sm leading-relaxed mb-6 text-gray-400 font-sans">Ingeniera de sistemas & desarrolladora de software, me especializo en la construcción y diseño de REST APIs que priorizan claridad y consistencia.</p>
        </div>
       <div></div>
       <div>
        <h4 class="text-lg font-bold mb-6 text-white font-sans">Contacto</h4>
        <div class="space-y-4">
            <div class="flex items-center gap-3 text-gray-400">
              <IconMail stroke={2} color="oklch(72.3% 0.219 149.579)"/>
              <p class="text-sm font-sans">dianacm1806@gmail.com</p>
            </div>
            <div class="flex items-center gap-3 text-gray-400">
                <IconMapPinFilled stroke={2} color="oklch(72.3% 0.219 149.579)" />
                <p class="text-sm font-sans">Bogotá, Colombia</p>
            </div>
            <div class="flex gap-4 mt-6">
                <a 
                href="https://github.com/diana180102"
                target="_blank"  
                class="text-secondary hover:text-heading ms-5">
               <IconBrandGithubFilled color="oklch(72.3% 0.219 149.579)" />
            </a>
            <a 
            href="https://gitlab.com/diana180102" 
            target="_blank"  
            class="text-secondary hover:text-heading ms-5">  
                 <Gitlab color="oklch(72.3% 0.219 149.579)" />
            </a>
            <a 
            href="https://www.linkedin.com/in/dianamayorga18/"
            target="_blank" 
            class="text-secondary hover:text-heading ms-5"
            >
                 <IconBrandLinkedinFilled color="oklch(72.3% 0.219 149.579)" />
            </a>
            </div>
        </div>
       </div>

    </div>

    <div class="border-t border-white/10 pt-4 flex flex-col md:flex-row justify-between items-center gap-4">
    <span class="text-sm text-green-500 sm:text-center">© 2026 Diana Mayorga. All Rights Reserved.
          </span>
    </div>
    </div> 
</footer>

<FlowbiteInit />