<section 
class="background-pattern  flex flex-col items-center w-full pb-20 pt-20 border-b border-green-500"
id="contact">
  <div class="max-w-7xl flex flex-col items-center gap-6 px-8">
    <div class="text-center flex flex-col gap-4">
      <h3 class="text-4xl text-green-500 font-bold font-secondary">¿Tienes un proyecto en mente?</h3>
      <p class="text-white font-primary ">
        Estoy siempre abierta a discutir sobre desarrollo de productos,
        colaboraciones o oportunidades de trabajo.
      </p>
    </div>
    
    <a href="mailto:dianacm1806@gmail.com"  class="text-white bg-green-500 box-border border border-transparent hover:bg-green-600 focus:ring-4 focus:ring-brand-medium shadow-xs leading-5 rounded-base text-lg px-4 py-2.5 focus:outline-none shadow-2 font-bold font-primary">Envíame un correo</a>

    
  </div>
</section>
