---
import FolderGit2 from "@lucide/astro/icons/folder-git-2";
import Github from "@lucide/astro/icons/github";
import Linkedin from "@lucide/astro/icons/linkedin";
import Mailbox from "@lucide/astro/icons/mailbox";
import SmartphoneNfc from "@lucide/astro/icons/smartphone-nfc";
import FlowbiteInit from "../layout/FlowbiteInit.astro";
import FileUser from "@lucide/astro/icons/file-user";
---

<section
  class="bg-black min-h-screen flex flex-col items-center justify-center"
>
  <div
    class="p-4 flex flex-col justify-center items-center text-center"
    data-aos="fade-down-right"
    data-aos-delay="900"
    data-aos-duration="1000"
  >
    <p class="text-white text-2xl font-mono">
      <span class="text-secondary">{"<"}</span>Hola<span class="text-secondary"
        >{">"}</span
      >
    </p>

    <p class="text-5xl font-normal text-white font-mono">
      Soy<span class="text-secondary font-bold boujee-text">
        Diana Mayorga</span
      >
    </p>

    <p class="text-white text-3xl font-mono mt-2">
      <span class="text-secondary">{"{"} </span> Ingeniera de Sistemas <span
        class="text-secondary"
        >{"}"}
      </span>
    </p>
    <p class="text-secondary font-mono font-semibold text-xl mt-2">
      Me especializo en la construcción de REST APIs claras, mantenibles y
      orientadas al crecimiento del sistema.
    </p>
    <p class="text-white text-xl font-mono text-center mt-4">
      Mi proposito es crear aplicaciones que sean escalables, seguras y
      eficientes.
    </p>
  </div>

  <div class="flex gap-4 mt-8" data-aos="fade-up-right">
    <a
      href="https://github.com/diana180102"
      class="flex gap-2 font-sans text-heading bg-linear-to-r from-green-200 via-green-100 to-green-200 hover:bg-linear-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-lime-800 font-medium rounded-base text-sm px-4 py-2.5 text-center leading-5"
    >
      <FolderGit2 /> Ver Proyectos</a
    >
    <a
      href="/cv/ES_Diana_Mayorga_backend.pdf"
      download
      class="flex gap-2 font-sans text-white bg-linear-to-r from-green-400 via-secondary to-green-600 hover:bg-linear-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-base text-sm px-4 py-2.5 text-center leading-5"
      ><FileUser /> Descargar CV</a
    >
  </div>

  <div
    class="flex flex-row gap-3 mt-8"
    data-aos="fade-down-right"
    data-aos-delay="900"
    data-aos-duration="1000"
  >
    <a href="https://www.linkedin.com/in/dianamayorga18/"> <Linkedin color={"#5DD62C"} /></a>

    <a href="https://github.com/diana180102"> <Github color={"#5DD62C"} /></a>

    <a href="mailto:dianacm1806gmail.com"><Mailbox color={"#5DD62C"} /></a>

    
  </div>
</section>

<FlowbiteInit />
