---

import Spring from "../../assets/spring.svg";
import Java from "../../assets/java.svg";
import Nest from "../../assets/nestjs.svg";
import JavaScript from "../../assets/javascript.svg";
import TypeScript from "../../assets/typescript.svg";
import Next from "../../assets/nextjs.svg";
import React from "../../assets/react.svg";
import Mysql from "../../assets/mysql.svg";
import Postgresql from "../../assets/postgres.svg";
import Git from "../../assets/git.svg";
import Docker from "../../assets/docker.svg";
import Clickup from "../../assets/clickup.svg";
import Postman from "../../assets/postman.svg";
import Swagger from "../../assets/swagger.svg";
import Sqlite from "../../assets/sqlite.svg";

import Card from "../ui/Card.astro";

import { IconCodeCircle2Filled, IconDeviceDesktopFilled, IconDatabaseFilled, IconCloudComputingFilled  } from '@tabler/icons-react';
---

<section
  class="w-full flex flex-col items-center overflow-x-hidden pb-20 pt-32"
  id="skills"
>

<div class="max-w-8xl p-8">
  <!-- Title -->
  <div class="flex flex-col items-center text-center gap-2 mb-10">
    <h2 class="text-4xl font-primary font-bold">
      Stack
      <span class="font-secondary text-green-500">Tecnológico</span>
    </h2>
    <p class="font-primary text-secondary">
      Tecnologías que utilizo para construir soluciones
    </p>
  </div>

  <div class="flex flex-col lg:flex-row gap-4">
    <Card class="shadow-1 bg-[#f8f8f8] flex flex-col">
      <div class="flex flex-row gap-4">
       <IconCodeCircle2Filled size={50} color="#334155" />
        <div>
          <h3 class="font-semibold font-primary">Backend</h3>
          <p class="font-normal text-xs">Desarrollo de APIs y lógica de negocio</p>
        </div>
      </div>

      <hr class="my-4 border-t border-gray-300" />
      <div class="tags flex flex-row flex-wrap gap-2 ">
        
        <div
          class="bg-[#BBF7D0] inline-flex items-center rounded py-1 px-2 "
        >
         <Java class={" text-[#166534] w-4 h-4 "} />
          <div class="h-4 w-px bg-gray-300 mx-2"></div>
          <span class="text-[12px] text-[#166534]">Java</span>
        </div>
        
         <div
          class="bg-[#BBF7D0] inline-flex items-center rounded py-1 px-2 gap-1"
        >
         <Spring class={"text-[#166534] w-4 h-4"} />
          <div class="h-4 w-px bg-gray-300 mx-2"></div>
          <span class="text-[12px] text-[#166534]">Spring Boot</span>
        </div>
         
         <div
          class="bg-[#BBF7D0] inline-flex items-center rounded py-1 px-2 gap-1"
        >
         <Nest class={"text-[#166534] w-4 h-4"} />
          <div class="h-4 w-px bg-gray-300 mx-2"></div>
          <span class="text-[12px] text-[#166534]">Nestjs</span>
        </div>

        <div
          class="bg-[#BBF7D0] inline-flex items-center rounded py-1 px-2 gap-1"
        >
         
          <span class="text-[12px] text-[#166534]">MVC</span>
        </div>
        <div
          class="bg-[#BBF7D0] inline-flex items-center rounded py-1 px-2 gap-1"
        >
         
          <span class="text-[12px] text-[#166534]">Arquitectura Hexagonal</span>
        </div>
      </div>
    </Card>
    <Card class="shadow-1 bg-[#f8f8f8]">
      <div class="flex flex-row gap-4">
        <IconDeviceDesktopFilled size={50} color="#334155"/>
         <div>
          <h3 class="font-semibold font-primary">Frontend</h3>
          <p class="font-normal text-xs">Interfaces y consumo de APIs</p>
        </div>
      </div>

      <hr class="my-4 border-t border-gray-300" />
      <div class="tags flex flex-row flex-wrap gap-2">
        <div
          class="bg-[#BBF7D0] inline-flex items-center rounded py-1 px-2 gap-1"
        >
         <JavaScript class={"text-[#166534] w-4 h-4"} />
          <div class="h-4 w-px bg-gray-300 mx-2"></div>
          <span class="text-[12px] text-[#166534]">Javascript</span>
        </div>

        <div
          class="bg-[#BBF7D0] inline-flex items-center rounded py-1 px-2 gap-1"
        >
         <TypeScript class={"text-[#166534] w-4 h-4"} />
          <div class="h-4 w-px bg-gray-300 mx-2"></div>
          <span class="text-[12px] text-[#166534]">Typescript</span>
        </div>

        <div
          class="bg-[#BBF7D0] inline-flex items-center rounded py-1 px-2 gap-1"
        >
         <Next class={"text-[#166534] w-4 h-4"} />
          <div class="h-4 w-px bg-gray-300 mx-2"></div>
          <span class="text-[12px] text-[#166534]">Nextjs</span>
        </div>

        

        <div
          class="bg-[#BBF7D0] inline-flex items-center rounded py-1 px-2 gap-1"
        >
         <React class={"text-[#166534] w-4 h-4"} />
          <div class="h-4 w-px bg-gray-300 mx-2"></div>
          <span class="text-[12px] text-[#166534]">React</span>
        </div>

         <di
          class="bg-[#BBF7D0] inline-flex items-center rounded py-1 px-2 gap-1"
        >
        
          <span class="text-[12px] text-[#166534]">Feature Base</span>
        </di>
      </div>
    </Card>
    <Card class="shadow-1 bg-[#f8f8f8]">
      <div class="flex flex-row gap-4">
       <IconDatabaseFilled size={50} color="#334155"/>
         <div>
          <h3 class="font-semibold font-primary">Base de Datos</h3>
          <p class="font-normal text-xs">Modelado y gestión de datos relacionales</p>
        </div>
      </div>

      <hr class="my-4 border-t border-gray-300" />
      <div class="tags flex flex-row flex-wrap gap-2">
        
        <div
          class="bg-[#BBF7D0] inline-flex items-center rounded py-1 px-2 gap-1"
        >
         <Postgresql class={"text-[#166534] w-4 h-4"} />
          <div class="h-4 w-px bg-gray-300 mx-2"></div>
          <span class="text-[12px] text-[#166534]">PostgreSQL</span>
        </div>

         <div
          class="bg-[#BBF7D0] inline-flex items-center rounded py-1 px-2 gap-1"
        >
         <Mysql class={"text-[#166534] w-4 h-4"} />
          <div class="h-4 w-px bg-gray-300 mx-2"></div>
          <span class="text-[12px] text-[#166534]">Mysql</span>
        </div>

        <div
          class="bg-[#BBF7D0] inline-flex items-center rounded py-1 px-2 gap-1"
        >
         <Sqlite class={"text-[#166534] w-4 h-4"} />
          <div class="h-4 w-px bg-gray-300 mx-2"></div>
          <span class="text-[12px] text-[#166534]">Sqlite</span>
        </div>
      
      </div>
    </Card>
    <Card class="shadow-1 bg-[#f8f8f8]">
      <div class="flex flex-row gap-4">
        <IconCloudComputingFilled size={50} color="#334155" />
        <div>
          <h3 class="font-semibold font-primary">Devops & Otros</h3>
          <p class="font-normal text-xs">Desarrollo de APIs y lógica de negocio</p>
        </div>
      </div>

      <hr class="my-4 border-t border-gray-300" />
      <div class="tags flex flex-row flex-wrap gap-2">
        <div
          class="bg-[#BBF7D0] inline-flex items-center rounded py-1 px-2 gap-1"
        >
         <Docker class={"text-[#166534] w-4 h-4"} />
          <div class="h-4 w-px bg-gray-300 mx-2"></div>
          <span class="text-[12px] text-[#166534]">Docker</span>
        </div>

        <div
          class="bg-[#BBF7D0] inline-flex items-center rounded py-1 px-2 gap-1"
        >
         <Swagger class={"text-[#166534] w-4 h-4"} />
          <div class="h-4 w-px bg-gray-300 mx-2"></div>
          <span class="text-[12px] text-[#166534]">Swagger</span>
        </div>

        <div
          class="bg-[#BBF7D0] inline-flex items-center rounded py-1 px-2 gap-1"
        >
         <Git class={"text-[#166534] w-4 h-4"} />
          <div class="h-4 w-px bg-gray-300 mx-2"></div>
          <span class="text-[12px] text-[#166534]">Git</span>
        </div>

        <div
          class="bg-[#BBF7D0] inline-flex items-center rounded py-1 px-2 gap-1"
        >
         <Postman class={"text-[#166534] w-4 h-4"} />
          <div class="h-4 w-px bg-gray-300 mx-2"></div>
          <span class="text-[12px] text-[#166534]">Postman</span>
        </div>

        <div
          class="bg-[#BBF7D0] inline-flex items-center rounded py-1 px-2 gap-1"
        >
         <Clickup class={"text-[#166534] w-4 h-4"} />
          <div class="h-4 w-px bg-gray-300 mx-2"></div>
          <span class="text-[12px] text-[#166534]">Clickup</span>
        </div>
      </div>
    </Card>
  </div>
  </div>
</section>
