---
import Certificate from "../components/sections/Certificate.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Certificates Page">
  <section class="background-pattern  pt-8 pb-18 flex flex-col items-center w-full ">
    <div
      class="p-4 flex flex-col justify-center items-center text-center w-full pt-37.5 gap-4 pb-10"
      data-aos="zoom-in-right"
    >
      <h2 class="text-4xl font-bold font-sans text-white">
        Certificaciones <span class="text-green-500 font-secondary"> y Logros</span>
      </h2>
      <p class="font-sans font-sm text-white">
        Aprendizaje continuo y validación de conocimientos
      </p>
    </div>
    <Certificate />
  </section>
</Layout>
