---
import Certificate from "../components/sections/Certificate.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Certificates Page">
    <div class="p-4 flex flex-col justify-center items-center text-center w-full pt-37.5" data-aos="zoom-in-right">
        <p class="text-black text-[25px] md:text-4xl font-mono font-bold">
            <span class="text-secondary">{"<"}</span> Certificados <span
                class="text-secondary">{">"}</span
            >
        </p>
    </div>
    <Certificate />
</Layaout>