---
import Project from "../components/sections/Project.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout title="Projects Page">
  <div class="p-4 flex flex-col justify-center items-center text-center w-full pt-37.5" data-aos="zoom-in-right">
    <p class="text-black text-lg md:text-4xl font-mono font-bold">
      <span class="text-secondary">{"<"}</span> Proyectos <span
        class="text-secondary">{">"}</span
      >
    </p>
  </div>
   
    <Project />
  </div>
</Layout>
