---
import Project from "../components/sections/Project.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout title="Projects Page">
  <section class="bg-[#f7f6f6] pt-8 pb-18 flex flex-col items-center w-full">
    <div class="p-4 flex flex-col justify-center items-center text-center w-full pt-37.5 gap-4 pb-10" data-aos="zoom-in-right">
      <h2 class="text-4xl font-bold font-sans">Mis <span class="text-green-500 font-secondary">Proyectos</span></h2>
      <p class="font-sans font-sm">Proyectos personales y profesionales en los que he participado</p>
  </div>
   <Project />
  </section>
  
   
    
  
</Layout>
